@import url('https://fonts.googleapis.com/css?family=Poppins');

/* BASIC */

select#type {
    border: none;
}

fieldset {
    border: 0;
}

html {
  background-color: #4A7061;
  text-align: center;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}
.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 20px;
  width: 100%;
  max-width: 600px;
  position: relative;
  padding: 70px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}
